<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="2.6.1" targetFramework="net45" />
  <package id="Sharpkit.Learn" version="0.2.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>